<%= title('About') %>

<p>Halo makes it possible for anyone to donate directly to research and help advance the most promising discoveries of today into the treatments of tomorrow. We are a team of scientists, engineers, designers and marketers who came to together to solve one of civilization’s most enduring challenges.</p>

<p>Halo also owes its creation to a collection of professionals in medicine, academic research, nonprofit management and biotech who gave selflessly of their time and expertise, including:</p>

<div class="thank-you">
  <div class="row">
    <div class="col-md-6"><strong>Alan Thomas</strong>Academic Venture Exchange</div>
    <div class="col-md-6"><strong>Andrew Mazar, PhD</strong>Northwestern University<br>Center for Developmental Therapeutics</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Christine Peterson, PhD</strong>University of Iowa<br>Center for Emerging Infectious Diseases</div>
    <div class="col-md-6"><strong>Claire Meunier</strong>Disease Research Foundation Consultant</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Dean Felsher, MD/PhD</strong>Stanford Medicine<br>Translational Research & Applied Medicine Center</div>
    <div class="col-md-6"><strong>Kevin Grimes, MD</strong>Stanford Medicine<br>SPARK Translational Research Program</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Doug Crawford, PhD</strong>California Institute for Quantitative Biomedical Research</div>
    <div class="col-md-6"><strong>Greg Beattie</strong>Charles River Laboratories</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Janet Woodcock, MD</strong>FDA<br>Center for Drug Evaluation & Research</div>
    <div class="col-md-6"><strong>Jon Barr</strong>Juno Therapeutics</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Ken Geles, PhD</strong>Pfizer</div>
    <div class="col-md-6"><strong>Kevin Esch, PhD</strong>Zoetis</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Lou Berneman</strong>Osage Partners</div>
    <div class="col-md-6"><strong>Mark Merchant, PhD</strong>Genentech</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Michael Straightiff</strong>University of Virginia</div>
    <div class="col-md-6"><strong>Myla Lai-Goldman, MD</strong>GeneCentric Diagnostics</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Ron Newbold, PhD</strong>Pfizer</div>
    <div class="col-md-6"><strong>Steven Deitcher, MD</strong>CureTech</div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong>Terri Fraterrigo</strong>Northwestern University<br>Center for Molecular Innovation & Drug Discovery</div></di
      v>
  <div class="col-md-6"><strong>Vijay Shah, MD</strong>Mayo Clinic</div>
</div>

<p>Note: These professionals were in no way compensated and this should not be viewed as an endorsement of any kind.</p>
