<%= title('Contact') %>

<p>Are you a scientist in need of funding? A university or nonprofit interested in partnering? A prospective donor looking to help? Any and all questions, comments or suggestions - We’d love to hear from you.</p>

<%= link_to('Email Us', "mailto:#{ ENV['CONTACT_EMAIL'] }", class: 'btn btn-primary' ) %>
