<%= title('Frequently Asked Questions') %>

<h3>
  What is Halo?
</h3>
<p>
  Halo is an online platform that connects scientists directly with opportunities to collaborate with industry. 
</p>
<h3>
  How does Halo make money?  
</h3>
<p>
  Halo is free for academic scientists and universities. Therre are different pricing plans available for industry partners seeking proposals around their research interests. 
</p>
<h3>
  How does Halo work? 
</h3>
<p>
  Scientists can browse and filter opportunities by research area and innnovation type. Once they find a relevant opportunity, they submit a short online proposal that descrribes their research hypothesis, rationale and proposed experiment. 
</p>
<h3>
  What happens after a proposal is submitted? 
<h3>
<p>
  The industry partner reviews the proposal and 1) Follows up with the scientist requesting more information 2) Sets up a phone call or 3) Provides feedback why the proposal is not a good fit. 
</p>
<h3>
  How does Halo work for university administrators? 
</h3>
<p>
  University adminstrators - tech transfer professionals, corporate relations officers, grant officers, department heads -  can also browse opportunities and share those that are relevant with fChaculty members. 
</p>
