<%= title('Jobs') %>

<p>Do you just want a job or a career with purpose? We’re always looking for passionate people who want to change the world, touch lives and have fun while doing it.  Check out our open positions below or shoot us a note. We'd love to hear from you.</p>

<%= link_to('Email Us', "mailto:#{ ENV['CONTACT_EMAIL'] }", class: 'btn btn-primary' ) %>

<script type="text/javascript" id="rbox-loader-script">
if(!window._rbox){
_rbox = { host_protocol:document.location.protocol, ready:function(cb){this.onready=cb;} };
(function(d, e) {
    var s, t, i, src=['/static/client-src-served/widget/60135/rbox_api.js', '/static/client-src-served/widget/60135/rbox_impl.js'];
    t = d.getElementsByTagName(e); t=t[t.length - 1];
    for(i=0; i<src.length; i++) {
        s = d.createElement(e); s.src = _rbox.host_protocol + '//w.recruiterbox.com' + eval("src" + String.fromCharCode(91) + String(i) + String.fromCharCode(93));
        t.parentNode.insertBefore(s, t.nextSibling);
    }})(document, 'script');
}
</script>
