<%= title('Mission') %>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag('march-of-dimes.jpg', alt: 'March of Dimes', class: 'full-width' )%>
  </div>

  <div class="col-sm-8">
    <p>Founded by Franklin D. Roosevelt in 1938, the March of Dimes challenged every American to donate 10 cents in support of Polio research. Marches were organized, volunteers went door-to-door and citizens of diverse socioeconomic backgrounds mailed millions of dimes to the White House. Dr. Jonas Salk, a researcher at the University of Pittsburgh, was awarded a March of Dimes grant and went on to discover the Polio vaccine, and virtually eradicated the disease from the earth.</p>

    <p>Halo is a modern-day march for dimes and harnesses the same collective generosity that led to the polio vaccine more than 75 years ago. Each month, we identify a promising discovery that is in need of additional funding to transcend <%= link_to('the valley of death', the_halo_effect_path) %> and continue along the path to becoming an effective patient treatment.</p>

    <p>Disease affects all people of the world regardless of wealth, religion or geography so the burden to find a cure is born by us all. We request a donation of just $10 so everyone can play their part.</p>
  </div>
</div>
