<%= title('Our Promise') %>

<h3>We will always be transparent.</h3>
<p>Medical research is a risky endeavor and among the thousands of discoveries, only a handful of them will result in patient treatments.</p>

<h3>We will always keep you informed.</h3>
<p>Whether or not the research you help fund is successful, we will keep you updated on what worked, what didn’t work and how the research will help inform future studies and increase their chance of success.</p>

<h3>We will always refund your donation.</h3>
<p>If the fundraising goal is not met, the researcher still receives the funds and may pursue other avenues for the remaining amount. However, you can always request a refund within 30 days of the campaign end date.</p>
