<%= title('Privacy Policy') %>

<div class="legal-docs">

  <div class=WordSection2>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Last
  modified: July 22, 2019<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Introduction</span></u></b><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><a
  name="co_anchor_Ic32b1fed3b6c11e9adfea82903531"></a><span style='font-size:
  9.0pt;font-family:"Arial",sans-serif;color:black'>Halo Cures, Inc. (“<b>Halo</b>,”
  “<b>we</b>” or “<b>us</b>”) respect your privacy and are committed to
  protecting it through our compliance with this policy.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>This policy
  describes the types of information we may collect from you (a guest user or
  registered user of </span><a href="http://www.halocures.com"><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif'>www.halocures.com</span></a><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>) (“<b>you</b>”)
  or that you may provide when you visit the website </span><a
  href="http://www.halocures.com"><span style='font-size:9.0pt;font-family:"Arial",sans-serif'>www.halocures.com</span></a><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'> (our “<b>Website</b>”)
  and our practices for collecting, using, maintaining, protecting, and
  disclosing that information.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>This policy applies
  to information we collect:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l3 level1 lfo1;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>On this Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l33 level1 lfo2;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>In email, text, and other electronic messages between you and this
  Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>It does not apply to information
  collected by:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l12 level1 lfo3;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Us offline or through any other means, including on any other
  website operated by Halo or any third party; or<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l41 level1 lfo4;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Any third party, including through any application or content that
  may link to or be accessible from or on the Website, or registered users of the
  Website including both scientists and researchers (“<b>Researchers</b>”) and
  companies (<b>“Corporate Partners”</b>) posting requests for proposals (“<b>RFP</b>”s).<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>Please read this policy carefully
  to understand our policies and practices regarding your information and how we
  will treat it. If you do not agree with our policies and practices, your choice
  is not to use our Website. By accessing or using this Website, you agree to
  this privacy policy. This policy may change from time to time (see </span><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif'>Changes to Our Privacy
  Policy<span style='color:black'>). Your continued use of this Website after we
  make changes is deemed to be acceptance of those changes, so please check the
  policy periodically for updates.<o:p></o:p></span></span></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p><span
   style='text-decoration:none'>&nbsp;</span></o:p></span></u></b></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Children
  Under the Age of 1<a name="co_anchor_a1019988_1"></a>8</span></u></b><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Our Website
  is not intended for children under 18 years of age. No one under age 18 may
  provide any information to or on the Website. We do not knowingly collect
  personal information from children under 18. If you are under 18, do not use or
  provide any information on this Website, register on the Website, or provide
  any information about yourself to us, including your name, email address, or
  any screen name or user name you may use. If we learn we have collected or
  received personal information from a child under 18 without verification of
  parental consent, we will delete that information. If you believe we might have
  any information from or about a child under 18, please contact us at </span><a
  href="mailto:hello@halocures.com"><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif'>hello@halocures.com</span></a><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>. <o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  justify;text-justify:inter-ideograph;line-height:normal;
  '><a name="co_anchor_a216371_1"></a><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>We collect
  several types of information from and about users of our Website, including
  information:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l36 level1 lfo5;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>By which you may be personally identified, such as name, email
  address, telephone number, professional affiliations, professional credentials,
  work history, any other identifier by which you may be contacted online or
  offline. (“<b>personal information</b>”);<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l16 level1 lfo6;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>That is about you but individually does not identify you, such as information
  about grants previously received by Researchers and the RFPs posted by our
  Corporate Partners;<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l17 level1 lfo7;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>About your internet connection, the equipment you use to access
  our Website, and usage details.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>We collect this information:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l5 level1 lfo8;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Directly from you when you provide it to us.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l28 level1 lfo9;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Automatically as you navigate through the site. Information
  collected automatically may include usage details, IP addresses, and information
  collected through cookies, web beacons, and other tracking technologies.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><b><span
  style='font-size:14.0pt;font-family:"Arial",sans-serif;color:#212121'>Information
  You Provide to Us</span></b><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
  color:black'> <o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>The
  information we collect on or through our Website may include:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l27 level1 lfo10;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Information that you provide by filling in forms on our Website.
  This includes information provided at the time of registering to use our
  Website, modifying your profile, posting material, and signing up to receive
  our newsletter. We may also ask you for information when you contact us for
  customer support or report a problem with our Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l31 level1 lfo11;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Records and copies of your correspondence (including email
  addresses), if you contact us.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l32 level1 lfo12;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Your responses to surveys that we might ask you to complete for
  research purposes.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l9 level1 lfo13;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Your search queries on the Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>You also may provide profile
  information to be published or displayed (hereinafter, “<b>posted</b>”) on areas
  of the Website accessible to registered Researchers and Corporate Partners, Corporate
  Partner RFPs posted on areas of the Website accessible to registered
  Researchers, or communications submitted by you for transmission to a specific Researcher
  or Corporate Partner (collectively, “<b>User Contributions</b>”). Your User
  Contributions are posted on the Website and transmitted to others at your own
  risk. Although we limit access to certain pages to registered users and
  facilitate certain private communications, please be aware that no security
  measures are perfect or impenetrable. Additionally, we cannot control the
  actions of other users of the Website with whom you may choose to share your
  User Contributions. Therefore, we cannot and do not guarantee that your User
  Contributions will not be viewed by unauthorized persons.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  12.0pt;margin-left:1.35pt;line-height:normal;mso-layout-grid-align:
  none;'><b><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
  color:#212121'>Information We Collect Through Automatic Data Collection
  Technologies<o:p></o:p></span></b></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>As you
  navigate through and interact with our Website, we may use automatic data
  collection technologies to collect certain information about your equipment,
  browsing actions, and patterns, including:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l22 level1 lfo14;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Details of your visits to our Website, including traffic data,
  location data, and other communication data and the resources that you access
  and use on the Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l25 level1 lfo15;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Information about your computer and internet connection, including
  your IP address, operating system, and browser type.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>We also may use these technologies
  to collect information about your online activities over time. For information
  on how you can opt out of behavioral tacking, see </span><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif'>Choices About How We Use
  and Disclose Your Information below<span style='color:black'>.<o:p></o:p></span></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>The
  information we collect automatically is only statistical data and does not
  include personal information, but we may maintain it or associate it with
  personal information we collect in other ways or receive from third parties. It
  helps us to improve our Website and to deliver a better and more personalized
  service, including by enabling us to:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l40 level1 lfo16;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Estimate our audience size and usage patterns.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l35 level1 lfo17;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Store information about your preferences, allowing us to customize
  our Website according to your individual interests.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l2 level1 lfo18;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Speed up your searches.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l6 level1 lfo19;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Recognize you when you return to our Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l6 level1 lfo19;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>Facilitate communications between Researchers and Corporate
  Partners.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>The technologies we use for this
  automatic data collection may include:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l39 level1 lfo20;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><b><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif;color:black'>Cookies (or browser cookies).</span></b><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'> A cookie is
  a small file placed on the hard drive of your computer. You may refuse to
  accept browser cookies by activating the appropriate setting on your browser.
  However, if you select this setting you may be unable to access certain parts
  of our Website. Unless you have adjusted your browser setting so that it will
  refuse cookies, our system will issue cookies when you direct your browser to
  our Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l0 level1 lfo21;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><b><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif;color:black'>Flash Cookies.</span></b><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'> Certain
  features of our Website may use local stored objects (or Flash cookies) to
  collect and store information about your preferences and navigation to, from,
  and on our Website. Flash cookies are not managed by the same browser settings
  as are used for browser cookies. For information about managing your privacy
  and security settings for Flash cookies, see </span><span style='font-size:
  9.0pt;font-family:"Arial",sans-serif'>Choices About How We Use and Disclose
  Your Information below<span style='color:black'>.<o:p></o:p></span></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l4 level1 lfo22;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><b><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif;color:black'>Web Beacons.</span></b><span style='font-size:
  9.0pt;font-family:"Arial",sans-serif;color:black'> Pages of our the Website and
  our emails may contain small electronic files known as web beacons (also
  referred to as clear gifs, pixel tags, and single-pixel gifs) that permit Halo,
  for example, to count users who have visited those pages or opened an email and
  for other related website statistics (for example, recording the popularity of
  certain website content and verifying system and server integrity).<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>We do not collect personal
  information automatically, but we may tie the information automatically collected
  to personal information about you that we collect from other sources or you
  provide to us.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p><span
   style='text-decoration:none'>&nbsp;</span></o:p></span></u></b></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Third-Party
  Use of Cookies and Other Tracking Technologies<o:p></o:p></span></u></b></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Some
  applications on the Website, such as Google Analytics, are served by third parties.
  These third parties may use cookies alone or in conjunction with web beacons or
  other tracking technologies to collect information about you when you use our
  website. The information they collect may be associated with your personal
  information or they may collect information, including personal information,
  about your online activities over time and across different websites and other
  online services. They may use this information to provide you with
  interest-based (behavioral) advertising or other targeted content.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>We do not
  control these third parties’ tracking technologies or how they may be used. If
  you have any questions about an advertisement or other targeted content, you
  should contact the responsible provider directly. For information about how you
  can opt out of receiving targeted advertising from many providers, see </span><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif'>Choices About How We Use
  and Disclose Your Information below.<span style='color:black'><o:p></o:p></span></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  justify;text-justify:inter-ideograph;line-height:normal;
  '><a name="co_anchor_a183824_1"></a><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>How We Use
  Your Information</span></u></b><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'><o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>We use
  information that we collect about you or that you provide to us, including any
  personal information:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l15 level1 lfo23;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To present our Website and its contents to you.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l13 level1 lfo24;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To provide you with information, products, or services that you
  request from us.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l18 level1 lfo25;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To fulfill any other purpose for which you provide it, including
  for posting on the Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l14 level1 lfo26;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To provide you with notices about your account.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l20 level1 lfo27;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To carry out our obligations and enforce our rights arising from
  any contracts entered into between you and us.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l30 level1 lfo28;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To notify you about changes to our Website or services we offer or
  provide though it.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l19 level1 lfo29;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To allow you to participate in interactive features on our Website,
  including sending email between Researchers and Corporate Partners.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l26 level1 lfo30;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To assist in the identification of potential matches between
  Researchers and Corporate Partners.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l24 level1 lfo31;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>In any other way we may describe when you provide the information.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l24 level1 lfo31;mso-layout-grid-align:none;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>For any other purpose with your consent.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>‌<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><a
  name="co_anchor_a998196_1"></a><b><u><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif;color:black'>Disclosure of Your Information</span></u></b><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'> <o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>We may
  disclose aggregated information about our users, and information that does not
  identify any individual, without restriction.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>We may
  disclose personal information that we collect or you provide as described in
  this privacy policy:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l37 level1 lfo34;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To contractors, service providers, and other third parties we use
  to support our business and who are bound by contractual obligations to keep
  personal information confidential and use it only for the purposes for which we
  disclose it to them.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l23 level1 lfo35;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To a buyer or other successor in the event of a merger,
  divestiture, restructuring, reorganization, dissolution, or other sale or
  transfer of some or all of Halo Cures, Inc.’s assets, whether as a going
  concern or as part of bankruptcy, liquidation, or similar proceeding, in which
  personal information held by Halo Cures, Inc. about our Website users is among
  the assets transferred.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l7 level1 lfo36;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To fulfill the purpose for which you provide it. For example, if
  you give us an email address so that a Researcher or Corporate Partner may
  contact you, we will transmit the contents of that email and your email address
  to the recipients.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l38 level1 lfo37;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>For any other purpose disclosed by us when you provide the
  information.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l42 level1 lfo38;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>With your consent.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l11 level1 lfo39;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>If you choose to access the integration, to third parties whose
  services are integrated with the Website such as <span class=SpellE>gmail</span>
  or ORCID.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:9.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:0in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>We may also disclose your personal
  information:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l8 level1 lfo40;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To comply with any court order, law, or legal process, including
  to respond to any government or regulatory request.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l10 level1 lfo41;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>To enforce or apply our terms of service </span><a
  href="http://www.halocures.com/terms"><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif'>www.halocures.com/terms</span></a><span style='font-size:
  9.0pt;font-family:"Arial",sans-serif;color:black'> and other agreements,
  including for billing and collection purposes.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l1 level1 lfo42;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'>If we believe disclosure is necessary or appropriate to protect
  the rights, property, or safety of Halo Cures, Inc., the users of our Website,
  or others.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p><span
   style='text-decoration:none'>&nbsp;</span></o:p></span></u></b></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Choices
  About How We Use and Disclose Your Information</span></u></b><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>We strive to
  provide you with choices regarding the personal information you provide to us.
  We have created mechanisms to provide you with the following control over your
  information:<o:p></o:p></span></p>

  <p class="c0" style='margin-top:8.0pt;margin-right:0in;margin-bottom:0in;
  margin-left:24.0pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-list:l34 level1 lfo43;
  '><![if !supportLists]><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:black'><span
  style='mso-list:Ignore'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><![endif]><b><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif;color:black'>Tracking Technologies and Advertising.</span></b><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'> You can set
  your browser to refuse all or some browser cookies, or to alert you when
  cookies are being sent. To learn how you can manage your Flash cookie settings,
  visit the Flash player settings page on Adobe’s </span><a
  href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html"><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:blue'>website</span></a><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>. If you
  disable or refuse cookies, please note that some parts of this site may then be
  inaccessible or not function properly.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  justify;text-justify:inter-ideograph;line-height:normal;
  '><a name="co_anchor_a87692_1"></a><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Accessing
  and Correcting Your Information</span></u></b><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'> <o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>You can
  review and change your personal information by logging into the Website and visiting
  your account profile page.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>You may also
  send us an email at </span><a href="mailto:hello@halocures.com"><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif'>hello@halocures.com</span></a><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'> to request
  access to, correct or delete any personal information that you have provided to
  us. We cannot delete your personal information except by also deleting your
  user account. We may not accommodate a request to change information if we
  believe the change would violate any law or legal requirement or cause the
  information to be incorrect.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>If you
  delete your User Contributions from the Website, copies of your User
  Contributions might have been copied or stored by other Website users. Proper
  access and use of information provided on the Website, including User
  Contributions, is governed by our terms of use </span><a
  href="http://www.halocures.com/terms"><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif'>www.halocures.com/terms</span></a><span style='font-size:
  9.0pt;font-family:"Arial",sans-serif;color:black'>. <o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>‌<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><a
  name="co_anchor_a820658_1"></a><a name="co_anchor_a539528_1"></a><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Data
  Security</span></u></b><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'> <o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>We have
  implemented measures designed to secure your personal information from
  accidental loss and from unauthorized access, use, alteration, and disclosure.
  All information you provide to us is stored on Amazon Web Services’ secure
  servers. Information submitted to our Website will be encrypted using SSL
  technology.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>The safety
  and security of your information also depends on you. Where we have given you
  (or where you have chosen) a password for access to certain parts of our
  Website, you are responsible for keeping this password confidential. We ask you
  not to share your password with anyone. <o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>We further urge
  you to not to post confidential, proprietary, potentially patentable, or other sensitive
  information in areas of the Website that will be viewed by other users. At a
  minimum, the information that Researchers submit may be viewed by Corporate
  Partners of the Website, and the information that Corporate Partners submit may
  be viewed by Researchers. We cannot guarantee that this information will not be
  disseminated to third parties by our users.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Unfortunately,
  the transmission of information via the internet is not completely secure.
  Although we do our best to protect your personal information, we cannot
  guarantee the security of your personal information transmitted to our Website.
  Any transmission of personal information is at your own risk. We are not
  responsible for circumvention of any privacy settings or security measures
  contained on the Website.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  justify;text-justify:inter-ideograph;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Changes to
  Our Privacy Policy</span></u></b><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'><o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>It is our
  policy to post any changes we make to our privacy policy on this page. If we
  make material changes to how we treat our users’ personal information, we will
  notify you by email to the email address specified in your account and/or
  through a notice on the Website home page. The date the privacy policy was last
  revised is identified at the top of the page. You are responsible for ensuring
  we have an up-to-date active and deliverable email address for you, and for
  periodically visiting our Website and this privacy policy to check for any
  changes.<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  justify;text-justify:inter-ideograph;line-height:normal;
  '><a name="co_anchor_a955470_1"></a><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:1.35pt;margin-bottom:
  0in;margin-left:1.35pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;'><b><u><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>Contact
  Information</span></u></b><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
  color:black'><o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>To ask
  questions or comment about this privacy policy and our privacy practices,
  contact us at:<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:.5in;margin-bottom:.0001pt;line-height:normal;
  '><a
  href="mailto:hello@halocures.com"><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif'>hello@halocures.com</span></a><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'><o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>or <o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:.5in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>Halo Cures, Inc.<o:p></o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:.5in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>222 W. Merchandise Mart Plaza,
  #1230<o:p></o:p></span></p>

  <p class="c0" style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:.5in;margin-bottom:.0001pt;line-height:normal;
  '><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>Chicago, IL 60654<o:p></o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'><o:p>&nbsp;</o:p></span></p>

  <p class="c0" style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;'><span
  style='font-size:9.0pt;font-family:"Arial",sans-serif;color:black'>To register
  a complaint or concern, please contact us at </span><a
  href="mailto:hello@halocures.com"><span style='font-size:9.0pt;font-family:
  "Arial",sans-serif'>hello@halocures.com</span></a><span style='font-size:9.0pt;
  font-family:"Arial",sans-serif;color:black'>. <o:p></o:p></span></p>

  </div>
</div>
