<%= title("Thank You!") %>

<p><strong>Thank you for requesting an invite.</strong></p> 

<p>Halo is currently in private beta. We will let you know when we officially launch. Stay tuned! In the meantime, email hello@halocures.com with any questions.</p>
  
