<%= title('The Halo Effect') %>

<p>Between basic research and clinical research is what’s known as “the valley of death,” where promising discoveries meet their demise. To fill the funding gap, Halo rallies support behind research projects that can help translate these discoveries into impactful patient treatments.</p><br> 

<ul class="nav nav-pills halo-switch nav-justified" role="tablist">
  <li role="presentation" class="active"><a href="#without-halo" aria-controls="without-halo" role="tab" data-toggle="tab">Without Halo</a></li>
  <li role="presentation"><a href="#with-halo" aria-controls="with-halo" role="tab" data-toggle="tab">With Halo</a></li>
</ul>

<div class="tab-content">
  <section role="tabpanel" class="tab-pane active" id="without-halo">
    <%= image_tag('the_halo_difference/vod-without-halo.png', alt: 'without halo') %>
  </section>
  <section role="tabpanel" class="tab-pane" id="with-halo">
    <%= image_tag('the_halo_difference/vod-with-halo.png', alt: 'with halo') %>
  </section>
</div>
