html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: unset;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#full-container {
  height: 100%;
}

.ui.page.modals.dimmer.transition.visible {
  z-index: 100000;
}

.ui.multiple.dropdown  > .label {
  background-color: white;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
}

.ui.selection.dropdown .menu > .item {
  font-size: 14px;
}

.ui.search.searchbar > .ui.input.icon {
  width: 100%;
  height: 40px;
}

.ui.secondary.pointing.menu > .active.item {
  border-color: #609FEE;
}

.ui.secondary.pointing.menu > .active.item:hover {
  border-color: #609FEE;
}

.ui.secondary.pointing.menu {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.ui.bottom.attached.segment.tab {
  border: none;
}

.ui.checkbox label:hover::before {
  border-color: #609FEE;
}

.ui.checkbox input:checked~label:before {
  background: #609FEE;
}

.ui.checkbox input:checked~label:after {
  color: #fff;
  font-size: 11px;
}

.modal {
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
