.circle-progress-timeline {
  cursor: pointer;
  position: relative;
  text-align: center;
  z-index: 1;
  line-height: 13px;
  font-size: .6em;
  font-weight: bold;
  @media (max-width: $screen-sm) {
    line-height: 14px;
  }
  &.active {
    transform: scale(1.4, 1.4);
    canvas {
      transform: rotate(4deg);
    }
  }
}
.circle-progress-connector {
  background: $light-gray;
  &.complete {
    background: $blue;
  }
}
